/*------------
    Global
-------------*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*----------
    MENU
-----------*/

/*Body*/

.Menu {
    background-color: rgb(26, 26, 26);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh; 

}

/*Header*/

.Menu-Header {
    width: 100%;
    text-align: center;
    min-height:100px;
}
.Menu-Title {
    line-height: 100px;
    color: white;
    font-size: 50px;
}
/*Main Content*/

.Main-Menu-Container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Menu-Content {
    width: 300px;
}
.Menu-List {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    list-style-type: none;
}
.Menu-Button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 20px 38px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: rgb(19, 19, 19);
    list-style-type: none;
}
.Menu-Button:hover {
    background-color: rgb(26, 26, 26);
    color: #ffffff;
}
/*Footer*/

.Menu-Footer {
    width: 100%;
    min-height:100px;
}
/*----------
  Dialog/Loader
-----------*/
#loader {
    background: url("img/loader_plane.gif") no-repeat center center;
    background-size: 300px;
    width: 100%;
    height: 60vh;
    display: none;
}
#loader.display {
    display: block;
}
#loader_text {
    font-size: 30px;
    height: 19vh;
    text-align: center;
    display: none;
}

#loader_text.display {
    display: block;
}

#Menu-Dialog {
    margin: auto;
    width: 400px;
    height: 220px;
    border: none;
    border-radius: 50px;
    padding: 40px;
}
#Player-Name {
    margin-left: 5%;
}
.Difficulty-text {
    margin-top: 10%;
}
.Dialog-Div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Dialog-Button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(19, 19, 19);
    border: none;
    font-size: 12px;
    padding: 10px 28px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    list-style-type: none;
}
dialog {
    animation: fade-out 0.7s ease-out;
  }
  
  dialog[open] {
    animation: fade-in 0.7s ease-out;
  }
  
  dialog[open]::backdrop {
    animation: backdrop-fade-in 0.7s ease-out forwards;
  }
  
  /* Animation keyframes */
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }
  
    100% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }
  
    100% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }
  }
  
  @keyframes backdrop-fade-in {
    0% {
      background-color: rgb(0 0 0 / 0);
    }
  
    100% {
      background-color: rgb(0 0 0 / 0.25);
    }
  }

/*----------
    GAME
-----------*/

/*Body*/

.Game {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh; 

}

/*Header*/

.Game-Header {
    background-color: rgb(26, 26, 26);
    width: 100%;
    min-height:100px;
    display: flex;
    justify-content: space-between;
}
.Title-box {
    margin-left: 15%;
    width: 70%;
    text-align: center;
}
.Game-Title {
    line-height: 100px;
    color: white;
    font-size: 50px;
}
.navbar {
    width: 15%;
}
.Game-List {
    list-style-type: none;
}
.Quit-Button {
    line-height: 100px;
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 20px 38px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
    line-height: 100px;
    text-decoration: none;
    color: rgb(19, 19, 19);
}
.Quit-Button:hover {
    background-color: rgb(26, 26, 26);
    color: #ffffff;
}
/*Main Content*/

.Game-Content {
    padding: 1%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#map {
    width: 60%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
#Fly-Button {
    background-color: rgb(26, 26, 26);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    margin-top: 15%;
}
.Game-Info {
    border-radius: 5px;
    padding: 0.5%;
    width: 39%;
    min-height: 100%;
    height: auto;
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Airport {
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 25%;
    background-color: #ffffff;
    padding: 20px;
}
.Fuel-box {
    padding-left: 50px; 
}
.Inventory {
    border-radius: 5px;
    width: 100%;
    height: 40%;
    background-color: #ffffff;
    padding: 20px;
}
.Other-Info {
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 25%;
    background-color: #ffffff;
    padding: 20px;
}
.Time-box {
    padding-left: 50px; 
}
/*Footer*/

.Game-Footer {
    width: 100%;
    min-height: 0px;
    border: 1px solid red;
    background-color: rgb(26, 26, 26);
}

/* Leaflet icons */
.blue_icon {
    background-color: rgb(3, 143, 230);
    border-radius: 50%;
}
.green_icon {
    background-color: rgb(3, 230, 37);
    border-radius: 50%;
}
.gray_icon {
    background-color: rgb(82, 82, 82);
    border-radius: 50%;
}